<% do_hpagehead("doctype_only"); %>
<html>
	<head>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=iso-8859-1" />
		<link type="text/css" rel="stylesheet" href="help.css">

		<title>About DD-WRT</title>
		<style type="text/css">
* {
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:1em;
text-align:center;
line-height:1.7em;
}
body {
margin:.906em;
font-size:69%;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
		</style>
	</head>
	<body>
		<div id="content">
		<p>This is a special micro version. It will eventually be branded for NexTech. 
		
		</p>
		
		<p><a href="http://code.google.com/p/nextech-wrt/" target="_new">NexTech-WRT Homepage</a> - <a href="http://code.google.com/p/nextech-wrt/w/list" target="_new">Wiki</a><br /><br />
		<% ifdef("MICRO", "<!--"); %>
		<img src="images/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" />
		<% ifdef("MICRO", "-->"); %>
		<% ifndef("MICRO", "<!--"); %>
		<img src="http://www.w3.org/Icons/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
		<% ifndef("MICRO", "-->"); %>
		</p>
		</div>
	</body>
</html>
