<% do_hpagehead("doctype_only"); %>
<html>
	<head>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=iso-8859-1" />
		<link type="text/css" rel="stylesheet" href="help.css">

		<title>About DD-WRT</title>
		<style type="text/css">
* {
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:1em;
text-align:center;
line-height:1.7em;
}
body {
margin:.906em;
font-size:69%;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
		</style>
	</head>
	<body>
		<div id="content">
		<p><img src="/images/logo.png" alt="DD-WRT logo" /><br /><br /><b><% get_firmware_version(); %><br />(<em>SVN revision</em> <% get_firmware_svnrev(); %>)</b></p>
		<p>
		The <b>micro</b> edition is a stripped down version designed for the WRT54G v5 and other 2MB router models.</p>
		<p>
			This is a special modified edition known as NexTech-WRT
		</p>
		
		<p><a href="http://www.dd-wrt.com" target="_new">DD-WRT Homepage</a> - <a href="http://www.dd-wrt.com/phpBB2/" target="_new">Forum</a> - <a href="http://www.dd-wrt.com/wiki/" target="_new">Wiki</a> - <a href="http://www.dd-wrt.com/bugtracker" target="_new">Bugtracker</a> - <a href="http://svn.dd-wrt.com:8000/dd-wrt" target="_new">Trac</a><br /><br />
		<% ifdef("MICRO", "<!--"); %>
		<img src="images/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" />
		<% ifdef("MICRO", "-->"); %>
		<% ifndef("MICRO", "<!--"); %>
		<img src="http://www.w3.org/Icons/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
		<% ifndef("MICRO", "-->"); %>
		</p>
		</div>
	</body>
</html>
